/*

Adds a litle out line around the box aswell as changes the width from 1000px -> 850px for nicer looks

*/

main.svelte-uejdny .features-wrapper.svelte-uejdny {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
    height: 100%;
    width: 100%;
    background-color: var(--color-background-soft);
    border-radius: 1rem;
    max-width: 850px;
    padding: 0 1rem;
}
